#fullPage {
  background-color: #f8f8ff;
}
#dualColumns {
  column-count: 2;
  display: flex;
  height: 65vh;
  width: 99.1vw;
}

#imageCarousel {
  float: center;
  width: 50vw;
  height: 50vh;
  background-color: #f8f8ff;
}

#fbColumn {
  background-color: #f8f8ff;
}

#fbFeed {
  float: center;
  width: 50vw;
  padding-left: 25%;
}

#history {
  background-image: url("../storefront.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 35vh;
}

#history::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

#historyText {
  position: relative;
  text-align: center;
  color: #f8f8ff;
  width: 40vw;
  margin: auto;
  text-align: center;
  padding: 1vw 0px 0px 0px;
}

#historyTitle {
  position: relative;
  color: #f8f8ff;
  font-size: large;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  padding: 1vw 0px 0px 0px;
}

h3 {
  text-align: center;
  width: 35%;
  margin: 0 auto;
  background-color: black;
  color: white;
}
