#fullPage {
  background-color: #f8f8ff;
}
#dualColumns {
  column-count: 2;
  display: flex;
  height: 65vh;
  width: 99.1vw;
}

#imageCarousel {
  float: center;
  width: 50vw;

  background-color: aqua;
}

#fbFeed {
  float: center;
  width: 50vw;

  padding-left: 12.5%;
  background-color: #da3e17;
}

#history {
  background-image: url("../storefront.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 35vh;
}

#history::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.35);
}

#historyText {
  position: relative;
  text-align: center;
  color: #f8f8ff;
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 30px 0px 00px 0px;
}

#historyTitle {
  font-size: large;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px 0px 0px;
}
