.overrides .carousel-control-next {
  right: 10%;
}

.overrides .carousel-control-next-icon {
  width: 30px;
  height: 30px;
}

.overrides .carousel-control-prev {
  left: 10%;
}

.overrides .carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
